name: test
channels:
  - pytorch
  - conda-forge
dependencies:
    # Base depends
  - python >=3.8
  - pytorch::pytorch >=2.0,<3.0.0a
  - pytorch::cpuonly
  - mkl

    # Testing
  - codecov
  - mypy ==1.11*
  - pytest
  - pytest-cov
  - ruff ==0.5.*
