name: Tests

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  miniconda-setup:
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.6, 3.9]
        environment: ["minimal", "full", "minv"]

    name: Env (${{ matrix.environment }}) - Py${{ matrix.python-version }}
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python-version }}
        mamba-version: "*"
        channel-priority: true
        activate-environment: test
        environment-file: devtools/conda-envs/${{ matrix.environment }}-environment.yaml

    - name: Environment Information
      shell: bash -l {0}
      run: |
        conda info
        conda list
        conda config --show-sources
        conda config --show

    - name: Install
      shell: bash -l {0}
      run: |
        python -m pip install . --no-deps

    - name: Test
      shell: bash -l {0}
      run: |
        pytest -v --cov=opt_einsum opt_einsum/

    - uses: codecov/codecov-action@v1
